body {
  background-color: rgb(241, 235, 235);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}

.list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(
  auto-fill,
  minmax(250px, 1fr)
  );
  margin-top: 25px;
}
.notes {
  background-color: rgb(100, 92, 92);
  color: white;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.new {
  background-color: grey;
  color: white;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.type {
  background-color: grey;
  border: none;
}

.save{
  border-radius: 15px;
  border:none;
}

.save:hover{
  background-color:black;
  color:white;
  border:none;
  cursor:pointer;
}

textarea{
  border: none;
  resize: none;
}

textarea:focus{
  outline: none;
  border: none;
  resize: none;
}

::placeholder { 
  color: white;
}
    
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete {
  cursor: pointer;
}

.search-bar {
  background-color: rgb(177, 167, 167);
  border-radius: 10px;
  min-height: 20px;
  display: flex;
  flex-direction: row;
  padding-left: 0.3rem;
  padding-top:0.2rem;
}

.searchicon {
  size:1.3rem;
  padding-right: 0.3rem;
}
.input-search-bar {
  background-color: rgb(177, 167, 167);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  width:100rem;
  outline: none;
  border: none;
  resize: none;
  margin-bottom:0.1rem;
}

input:focus{
  outline: none;
  border: none;
  resize: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-heading {
  font-size: 2rem;
  font-weight: 500;
}

.toggle-button {
  margin-top: 0.5rem;
  border-radius: 15px;
  border:none;
  width: 2rem;
  height: 2rem;
}

.dark-mode {
  background-color: rgb(0, 0, 0);
}

.dark-mode .main-heading {
  color: white;
}